* {
    font-family: "Open Sans";
    font-size: medium;
}
html, body {
    min-height:100vh;
}
.sos-info .nav-link {
    border-right: 1px solid rgba(255,255,255,.2);
    padding-left: 20px!important;
    padding-right: 20px!important;
}
.sos-info .nav-link:last-child {
    border-right: none;
}
.sos-info .fa {
    padding-right: 10px;
}
.main-navbar, .sub-navbar {
    color: #fff;
    padding: 0!important;
}
.sub-navbar .nav-link {
    padding: 10px 20px;
}
.main-navbar {
    background: #2B46CA!important;
}
.main-navbar a.nav-link,
.sub-navbar a.nav-link {
    color:#ccc;
    transition: 500ms all;
}
.main-navbar .navbar-toggler {
    font-size: 2em;
    color: #ccc;
    padding: 23px 16px;
    border-color: transparent;
}
.main-navbar .nav-link:hover {
    background: #f60!important;
}
.main-navbar .dropdown {
    position: relative;;
}
.main-navbar .dropdown-menu {
    background: transparent;
    top: 100%;
    border-radius: 8px;
    background: #2B46CA;
    /* overflow: hidden; */
    /* border: 4px solid #f60; */
    margin: 0;
    padding: 5px;
    box-shadow: 0 -10px 26px rgba(0,0,0,0.5);
}
.main-navbar .dropdown-menu::before {
    content: "";
    position: absolute;
    background: #2B46CA;
    /* background: #333; */
    width: 40px;
    height: 40px;
    /* border: 4px solid #f60; */
    z-index: -999;
    transform:rotate(45deg) translateY(-50%);
}
.main-navbar .dropdown:hover .dropdown-menu {
    display: block;
}
.main-navbar .dropdown-menu .dropdown-item {
    color: #ccc;
    /* background:  #333; */
    padding: 15px;
}
.main-navbar .dropdown-menu .dropdown-item:hover {
    background:#f60!important;
}
.main-navbar .dropdown-menu .dropdown-item:focus {
    background: transparent!important;
}
.navbar.sub-navbar a:hover {
    background: #d40000;
}
.main-navbar .nav-link {
    text-transform: uppercase;
    font-weight: bold;
    color:#ccc!important;
    line-height: 70px;
    padding-left: 20px!important;
    padding-right: 20px!important;
    transition: 500ms all;
}
.main-navbar .nav-link:hover,
.main-navbar .nav-link.active,
.main-navbar .dropdown.active .nav- {
    background: #212529;
}
.sos-join,.sos-members {
    padding-left: 30px!important;
    padding-right: 30px!important;
    border-radius: 20px;
}
.sos-join {
    padding: 10px 20px;
    background: #ff6600;
    font-weight: bold!important;
    text-shadow: 0px 0px 2px #333;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.bg-orange {
    background: #f60!important;
}
.bg-blue {
    background: #2B46CA!important;
}
.text-orange {
    color:#f60;
}
.text-blue {
    color:#2B46CA;
}
.sos-members {
    border: 1px solid #ccc;
    margin-right: 8px;
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    position:fixed;
    width:100vw; 
    height:100vh;
    top:0;
    left:0;
    background: rgba(0,0,0,0.6);
    height: 100vh;
}
.loading .inner-loading {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 18px #444;
}
.loading img {
    width: 100%;
    margin-bottom: 20px;
}
.loading .spinner-border {
    margin-bottom: 10px;
}
.loading .inner-loading ul{
    padding: 0;
    margin: 0;
    list-style: devanagari;
}
.navbar-sub-nav {
    flex-direction: column !important;
    position: absolute;
    background: #fff;
    border: 1px solid #ccc;
}

.sos-heading {
    font-size: 3em;
    font-weight: bold;
    letter-spacing: 1px;
    text-align: center;
    margin:0;
    padding: 30px 0;
}
.sos-heading-2 {
    font-size: 2em;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    letter-spacing: 1px;
    margin:0;
    padding: 10px 0;
}
.sos-bg {
    background: #2B46CA!important;
}
.sos-text {
    color: #2B46CA!important;
}
.sos-o-bg {
    background: #f60!important;
}
.sos-o-text {
    color: #f60!important;
} 

.signup, .login, .work-page, .process-page, .contact-page {
    min-height: calc(100vh);
    display: flex;
    flex-direction: column;
}
.signup .card,
.login .card {
    width: 400px;
    margin: auto;
}
.btn.bg-orange,
.btn.sos-o-bg,
.btn.bg-blue {
    transition: 500ms all ;
}
.btn.bg-orange:hover,
.btn.sos-o-bg:hover,
.btn.bg-blue:hover {
    background: #d40000!important;
}
.sos-expertise .expertise-item {
    display: flex;
    flex-direction: column;
    padding-top: 6px;
}
.sos-expertise .expertise-item .sos-text {
    font-size: 1.2em;
    padding: 4px 6px;
    margin-bottom: 10px;
    border-top: 1px solid #f60;
    border-bottom: 1px solid #f60;
}
.sos-expertise .expertise-item a {
    position: relative;
    text-decoration: none;
    padding: 4px 10px;
    transition: 200ms all ease-in-out;
    text-align: left;
}
.sos-expertise .expertise-item a:hover {
    background: #d40000;
    color: #fff;
    border-radius: 10px;
}
.sos-expertise .expertise-item a span {
    display: inline-block;
    position: relative;
    left:0;
    transition: 300ms all ease-in-out;
}
.sos-expertise .expertise-item a:hover span {
    color: #fff;
    left: 50%;
    transform: translateX(-50%);
}

.aboutme .info-more .nav-link {
    position: relative;
    padding: 2px 6px;
    transition: 300ms all ease-in-out;
    z-index: 0;
}
.aboutme .info-more .nav-link:hover {
    border-radius: 10px;
    background-color: #d40000;
    color: #ccc!important;
}
.aboutme .info-more .nav-link i.fa {
    position: relative;
    display: inline-block;
    transition: 300ms all ease-in-out;
    z-index: 1;
}
.aboutme .info-more .nav-link:hover i.fa {
    border-radius: 10px;
    background-color: #d40000;
    color: #ccc!important;
    transform: scale(3);
}

.aboutme .company {
    background: #fff; 
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 18px rgb(0 0 0 / 10%);
    position: relative;
    z-index: 0;
}
.aboutme .company .sos-text {
    text-align: center;
    padding: 30px 5px;
    margin: 0 10px;
    transition: 200ms all ease-in-out;
}
.aboutme .company .sos-text small {
    display: block;
}
.aboutme .company:hover .sos-text {
    position: relative;
    transform: scale(1.2) translateY(50%);
    background-color: #212529;
    color: #fff!important;
    margin: 0;
    z-index: 999;
    border-radius: 30px;
}
.aboutme .company:before {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    width: 0;
    height: 0;
    background: rgba(255,144,00,.3);
    transition: 200ms all ease-in-out;
    border-radius: 10px;
    z-index: 0;
}

.aboutme .company:hover:before {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

.aboutme .certificates .degree {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    box-shadow: 0 0 18px rgb(0 0 0 / 10%);
    padding:30px;
    padding-top: 70px;
    border-radius: 10px;
    height:100%;
    position: relative;
}
.aboutme .certificates .degree .fa-certificate {
    color: #f60;
    border-radius: 50%;
    position: absolute;
    top:10px;
    left:50%;
    transform: translateX(-50%);
    font-size: 4em;
    transition: 200ms all ease-in-out;
}
.aboutme .degree:hover .fa-certificate {
    top:50%;
    transform: translate(-50%, -120%);
    color: #2B46CA!important;
    text-shadow: 2px 2px 2px #fff,
        -2px -2px 2px #fff,
        2px -2px 2px #fff,
        2px -2px 2px #fff;
    z-index: 99;
}
.aboutme .certificates .degree .year {
    position: absolute;
    top: 10px;
    left: 10px;
    background:#2B46CA;
    color:#fff;
    font-size: 0.8em;
    padding: 3px 5px;
    border-radius: 5px;
    font-weight: bold;
}
.aboutme .degree strong {
    padding: 15px;
    transition: 200ms all ease-in-out;
}
.aboutme .degree:hover strong {
    position: relative;
    transform: scale(1.2) translateY(50%);
    background-color: #212529;
    color: #fff!important;
    margin: 0;
    z-index: 9;
    border-radius: 30px;
}
.aboutme .degree:before {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    width: 0;
    height: 0;
    background: rgba(255,144,00,.3);
    transition: 200ms all ease-in-out;
    border-radius: 10px;
    z-index: 0;
}

.aboutme .degree:hover:before {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

.process-page a {
    text-decoration: none;
}
.donate-btn {
    border-radius: 50px!important;
    align-self: center;
    padding-left: 30px!important;
    padding-right: 30px!important;
}
.donate-btn .fa {
    font-size: 1.3em;
}

.contact-page form input,
.contact-page form textarea {
    padding: 10px 20px;
    border-color: #777;
    color: #fff;
    background: transparent;
    transition: 300ms all ease-in-out;
}
.contact-page .btn.btn-primary {
    display: block;
    padding: 10px 40px;
    margin: auto;
    position: relative;
}
/* .contact-page .btn.btn-primary:before {
    content: '';
    background: red;
    width: 50px;
    height: 50px;
    left: 0;
    right: 0;
    z-index: 1;
    position: absolute;
    transform: scaleX(0.5) rotate(45deg);
} */

@media only screen and (max-width:992px) {
    .main-navbar .dropdown {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .main-navbar .dropdown-menu {
        display: block;
        border: none;
        box-shadow: none!important;
    }
    .dropdown-menu::before {
        display: none!important;
    }
    .main-navbar .dropdown .dropdown-menu .dropdown-item {
        padding-left: 40px;
        background: none;
    }
}

@media only screen and (max-width:777px) {
    .sub-navbar .nav-link {
        font-size: 0.9em;
        padding: 20px 0px;
    }
    .sub-navbar .container {
        text-align: center;
    }
    .sub-navbar .sos-info {
        padding: 0;
    }
    .aboutme {
        margin: 0;
        padding: 0;
    }
    .aboutme article {
        display: block;
        margin: 0!important;
        width: 100vw!important;
        padding: 30px;
    }
    .sos-profile img {
        width: 100%;
    }
    .sos-profile .d-flex {
        flex-direction: column;
        text-align: left;
    }
    .aboutme .info-more {
        display: block!important;
        flex-direction: row;
        gap: 0;
    }
    .aboutme .info-more .nav-link {
        padding: 10px 20px;
    }
    .aboutme .info-more .nav-link span {
        position: relative;
        display: inline-block;
        transition: 300ms all ease-in-out;
        left:0
    }
    .aboutme .info-more .nav-link:hover span {
        left:50%;
        transform: translateX(-50%);
    }
    .aboutme .info-more .nav-link:hover i.fa {
        margin-right:20px;
        transform: scale(2);
    }
}

@media only screen and (max-width:500px) {
    .sub-navbar .row {
        margin: auto;
    }
    .sub-navbar .sos-info {
        flex-direction: column;
        justify-content: space-between;
    }
    .sub-navbar .nav-link {
        display: inline-block;
        margin-bottom: 10px;
        flex-grow: 1;
    }
    .sub-navbar .nav-link .fa {
        font-size: 2em;
    }
    .sub-navbar .nav-link .smdt {
        display: none;
    }
    .sos-members,
    .sos-join {
        flex-grow: 1;
        margin: auto;
    }
    .sos-members {
        margin-right: 10px;
        border:1px solid rgba(255,255,255,.2)!important;
    }
    .sos-expertise .d-flex {
        justify-content: space-around!important;
    }
    .sos-expertise .expertise-item {
        display: flex;
        width: 40%;
    }

    .aboutme-info .container,
    .expertise .container,
    .experience .container,
    .education .container {
        padding:30px 20px!important;
    }
    .sos-expertise .d-flex {
        flex-wrap: wrap;
    }
    .aboutme .nav-link.sos-o-text {
        flex-grow: 1;
    }
}