@charset "utf-8";

.flex-container a,
.flex-container a:active,
.flex-container a:focus,
.flexslider a,
.flexslider a:active,
.flexslider a:focus {
    outline: 0
}

.flex-control-nav,
.flex-direction-nav,
.slides {
    margin: 0;
    padding: 0;
    list-style: none
}

.flex-direction-nav {
    z-index: 8;
    position: relative
}

.flexslider .slides img {
    max-width: 100%;
    display: block
}

.flex-pauseplay span {
    text-transform: capitalize
}

.slides:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0
}

html[xmlns] .slides {
    display: block
}

* html .slides {
    height: 1%
}

.no-js .slides>li:first-child {
    display: block
}

.slides:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0
}

html[xmlns] .slides {
    display: block
}

* html .slides {
    height: 1%
}

.no-js .slides>li:first-child {
    display: block
}

.flex-container,
.flexslider {
    position: relative
}

.flexslider {
    overflow: hidden;
    zoom: 1;
    padding: 56px 0;
    background: #212529;
    margin: 0;
}

.flexslider .slides {
    zoom: 1
}

.flexslider .slides>li {
    position: relative
}

.flex-container {
    zoom: 1;
    position: relative
}

.flexslider .slides>li {
    width: 20%;
    overflow: hidden;
    position: relative;
    transition: 500ms all;
}

.flexslider .slides>li .flex-caption {
    font-family: Dorsa, sans-serif;
    color: #fff;
    font-size: 100px;
    line-height: 104px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -50px 0 0 -10px;
    opacity: 1;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease
}

.flexslider .slides>li.active .flex-caption {
    opacity: 0
}

.flexslider .slides {
    display: flex;
    margin: 0;
    list-style: none outside none;
    width: 100%!important;
}

.flexslider .slides>li {
    opacity: .6
}

.flexslider .slides>li.active {
    opacity: 1;
    z-index: 1;
    transform: scale(1.2);
    /* box-shadow: 0 0 20px white; */
    width: fit-content;
    overflow: visible;
}
.flexslider .slides>li.active:first-child {
    transform-origin: 0;
}
.flexslider .slides>li.active:last-child {
    transform-origin: 100%;
}

.flexslider .slides img {
    display: block;
    max-width: 770px
}

.flexslider .hover-img {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0
}

#responsiveFlag {
    display: block
}
.flex-control-nav {
    display: none
}
.slogan .slogan-heading {
    width: 40%;
    font-size: 3em;
    padding: 60px;
    text-shadow: -1px -1px 1px #000, 1px 1px 1px #888;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    text-align: center;
}

.slogan-text {
    width: 60%;
    text-align: left;
}
.slogan a.btn {
    padding: 10px 30px;
    border-radius: 50px;
    transition: 500ms all;
}
.slogan a.btn:hover {
    filter: invert(1);
}

@media only screen and (min-width:1300px) {
    .flexslider .slides>li {
        display: block
    }
    #responsiveFlag {
        display: block
    }
}

@media only screen and (max-width:1299px) {
    .flexslider {
        margin: 0;
    }
    .slogan .slogan-heading {
        width: 100%;
        padding: 10px !important;
    }
    .slogan .slogan-text {
        width: 100%;
    }
    
    .flexslider .slides>li {
        width: 100%;
        opacity: 1;
        display: none;
        backface-visibility: hidden
    }
    .flexslider .slides>li:first-child {
        display: block;
        backface-visibility: visible
    }

    .flexslider .slides img {
        max-width: 100%;
        width: 100%
    }

    .flex-control-nav {
        display: flex
    }

    .flex-direction-nav {
        position: absolute;
        left: 0;
        top: 50%;
        width: 100%;
        overflow: hidden;
        margin: -27px 0 0 0;
        list-style: none outside none
    }

    .flex-direction-nav li {
        float: left;
        width: 50%;
        height: 100%;
        text-align: right;
        font-size: 0;
        line-height: 0;
        overflow: hidden
    }

    .flex-direction-nav li:first-child {
        text-align: left
    }

    .flex-direction-nav a {
        display: inline-flex;
        justify-content: center;
        color: #ccc;
        text-decoration: none;
        align-items: center;
        font-size: 2rem;
        width: 55px;
        height: 55px;
    }

    .flex-direction-nav a:hover {
        text-decoration: none
    }

    .flex-direction-nav a.flex-next, 
    .flex-direction-nav a.flex-prev {
        border-radius: 10px;
        background: rgba(100,100,100,.8)
    }

    .flex-direction-nav a:hover {
        background-color: #e85356
    }

    #responsiveFlag {
        font-size: 0;
        line-height: 0;
        display: inline
    }
    .slogan {
        flex-direction: column;
        align-items: center;
    }
    .slogan-text {
        text-align: center;
    }
}
@media only screen and (max-width:777px) {
    .sos-flexslider.bg-dark {
        padding: 0!important;
    }
    .sos-flexslider .flex-container {
        margin: 0!important;
    }
    .sos-flexslider .flexslider {
        width:100%;
    }
    .sos-flexslider .slogan {
        text-align: center;
    }
    .sos-flexslider .slogan-heading{
        white-space: nowrap;
    }
    .slogan .slogan-heading {
        padding-top: 0px!important;
    }
    .slogan .slogan-text {
        padding-bottom: 40px!important;
    }
}

@media only screen and (max-width:500px) {
    .flex-direction-nav {
        margin-top: -20px
    }

    .flex-direction-nav a {
        width: 40px;
        height: 40px
    }
    .slogan .slogan-heading {
        white-space: normal!important;
    }
}

@media (max-width:320px) {
    .flex-direction-nav {
        margin-top: -15px
    }

    .flex-direction-nav a {
        width: 30px;
        height: 30px
    }
}

