<!-- content -->
<div id="content"><div class="ic"></div>
  <div class="container">
    <div class="row">
      <article class="span8">
        <h3>Contact us</h3>
        <div class="inner-1">
          <form id="contact-form" ng-submit="contactFormSubmit()"> <!--  method="POST" action="https://formspree.io/ssorabh.ssharma@hotmail.com" -->
            <div class="success"> Your message has been sent succesfuly!<strong> We will be in touch soon.</strong> </div> 
            <fieldset> 
              <div> 
                <label class="name"> 
                  <input type="text" ng-model="contact.name" name="name" placeholder="Your name" required> 
              </div> 
              <div> 
                <label class="phone"> 
                  <input type="tel" ng-model="contact.telephone" name="telephone" placeholder="Telephone"> 
                  <br> 
                  <span class="error">*This is not a valid phone number.</span> 
                  <span class="empty">*This field is required.</span> 
                </label> 
              </div> 
              <div> 
                <label class="email"> 
                  <input type="email" ng-model="contact.email" name="email" placeholder="Email" required> 
                </label> 
              </div> 
              <div> 
                <label class="message"> 
                  <textarea ng-model="contact.message" name="message" placeholder="Message" required></textarea> 
                </label> 
              </div> 
              <div class="buttons-wrapper"> 
                <button class="btn btn-1" type="submit">Send</button>
              </div> 
            </fieldset> 
          </form>
          <!-- <div id="contact-form"> -->
            <!-- <script type="text/javascript"> id = 212395; </script> -->
            <!-- <script type="text/javascript" src="http://kontactr.com/wp.js"></script> -->
            <!-- <iframe id="contact-frame" src="http://kontactr.com/xuser/212395/none" width="100%" height="500px" frameborder="0"></iframe> -->
          <!-- </div> -->
        </div>
      </article>
      <article class="span4">
        <h3>Contact info</h3>
        <div class="map">
          <a href="http://dribbble.com/shots/624850-Presentaion-image-1" target="_blank"><img src="img/map.jpg" alt="Location on Map" /></a>
        </div>
        <address class="address-1">
          <strong>Expert Code Design, GT Road, Ghaziabad-05.</strong>
          <div class="overflow"> 
            <span>Mobile:</span>+91 9891464750<br>
            <span>E-mail:</span> <a href="#" class="mail-1">info@expertcodedesign.com</a><br>
            <span>Skype:</span> <a href="#" class="mail-1">ssorabh.ssharma</a>
          </div>
        </address>
      </article>
    </div>
  </div>
</div>