<div class="container">
  <div class="row">
    <div class="span12"> 
      <!-- slider -->
      <div class="flexslider">
        <ul class="slides">
          <li> <img src="img/slide-1.jpg" alt="" > </li>
          <li> <img src="img/slide-2.jpg" alt="" > </li>
          <li> <img src="img/slide-3.jpg" alt="" > </li>
          <li> <img src="img/slide-4.jpg" alt="" > </li>
          <li> <img src="img/slide-5.jpg" alt="" > </li>
        </ul>
      </div>
      <span id="responsiveFlag"></span>
      <div class="block-slogan">
        <h2>Website Developer</h2>
        <div>
          <p>Web design process always begins with the team's involvement in scoping and prioritizing elements of the project. The designer is also responsible for bringing the pages to life using the wireframes created to mock up each page.  Content is such an important part of your website, but it doesn’t always get the attention that it deserves. This template is designed and developed over the Bootstrap frontend framework. Which is a free front-end framework for designers. Template is fully <i>responsive</i> and <i>compatible</i> with all the major browsers.</p>
          <p style="text-align:center; padding-top:20px;"><a href="#!/contact" class="btn btn-1">Contact Us</a></p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- content -->
<div id="content" class="content-extra">
  <div class="ic"></div>
</div>

<div class="row-1">
  <div class="container">
    <div class="row">
      <article class="span12">
        <h4>Our Work</h4>
      </article>
      <div class="clear"></div>
      <ul class="portfolio clearfix">           
        <li class="box"><a href="img/image-blank.png" class="magnifier" ><img alt="" src="img/work/1.jpg"></a></li> 
        <li class="box"><a href="img/image-blank.png" class="magnifier" ><img alt="" src="img/work/2.jpg"></a></li> 
        <li class="box"><a href="img/image-blank.png" class="magnifier" ><img alt="" src="img/work/3.jpg"></a></li> 
        <li class="box"><a href="img/image-blank.png" class="magnifier" ><img alt="" src="img/work/4.jpg"></a></li> 
        <li class="box"><a href="img/image-blank.png" class="magnifier" ><img alt="" src="img/work/5.jpg"></a></li> 
        <li class="box"><a href="img/image-blank.png" class="magnifier" ><img alt="" src="img/work/6.jpg"></a></li> 
        <li class="box"><a href="img/image-blank.png" class="magnifier" ><img alt="" src="img/work/7.jpg"></a></li> 
        <li class="box"><a href="img/image-blank.png" class="magnifier" ><img alt="" src="img/work/8.jpg"></a></li>                       
      </ul> 
    </div>
  </div>
</div>

<div class="row-2">
  <div class="container">
    <h3>We made solutions for your business</h3>
    <p>Please send us your business requirements, consultancy meetings is totally free.</p>
    <ul class="list-unstyled">
      <li><strong>E commerce</strong> : Those who wanted to sell there range of selected products on web.</li>
      <li><strong>Blog Post</strong> : Peoples interested to make community and being touch with there updates.</li>
      <li><strong>News</strong> : Website that gives you news updates, daily news notifications etc.</li>
      <li><strong>Hospital Management</strong> : Staff, Appointment Management.</li>
      <li><strong>Real Estate</strong> Management System.</li>
    </ul>
    <p>and many more based on your business.</p>
    <a href="mailto:ssorabh.ssharma@gmail.com" class="btn btn-1">Email US</a>
  </div>
</div>

<div class="row-1">
  <div class="container">
    <div class="row">
      <article class="span12">
        <h4>From blog</h4>
      </article>
      <ul class="thumbnails thumbnails-1">
        <li class="span3">
          <div class="thumbnail thumbnail-1">
            <h3>Web Design</h3>
            <img  src="img/blog-featured-01.jpg" alt="">
            <section> 
              <a href="#"><h3>At vero eos et accusamus et iusto </h3></a>
              <div class="meta">
                <time datetime="2012-11-09" class="date-1"><i class="icon-calendar"></i> 9.11.2012</time>
                <div class="name-author"><i class="icon-user"></i> <a href="#">Admin</a></div>
                <a href="#" class="comments"><i class="icon-comment"></i> 7 comments</a>
              </div> 
              <div class="clear"></div>
              <p>Vivamus sollicitudin libero auctor arcu pulvinar commodo.</p>
              <a href="#" class="btn btn-1">Read More</a> </section>
            </div>
        </li>
        <li class="span3">
          <div class="thumbnail thumbnail-1">
            <h3>Graphics</h3>
            <img  src="img/blog-featured-02.jpg" alt="">
            <section> 
              <a href="#"><h3>Deleniti atque corrupti quos</h3></a>
                <div class="meta">
                  <time datetime="2012-11-09" class="date-1"><i class="icon-calendar"></i> 9.11.2012</time>
                  <div class="name-author"><i class="icon-user"></i> <a href="#">Admin</a></div>
                  <a href="#" class="comments"><i class="icon-comment"></i> 4 comments</a>
                </div>
                <div class="clear"></div>            
                <p>Vestibulum volutpat urna sed sapien vehicula varius.</p>
                <a href="#" class="btn btn-1">Read More</a> 
              </section>
            </div>
        </li>
        <li class="span3">
          <div class="thumbnail thumbnail-1">
            <h3>Social Media</h3>
            <img  src="img/blog-featured-03.jpg" alt="">
            <section>
              <a href="#"><h3>Similique sunt in culpa qui officia</h3></a>
              <div class="meta">
                <time datetime="2012-11-09" class="date-1"><i class="icon-calendar"></i> 9.11.2012</time>
                <div class="name-author"><i class="icon-user"></i> <a href="#">Admin</a></div>
                <a href="#" class="comments"><i class="icon-comment"></i> 9 comments</a>
              </div>
              <div class="clear"></div>   
              <p>Pellentesque mi justo, laoreet non bibendum non, auctor imperdiet eros.</p>
              <a href="#" class="btn btn-1">Read More</a> 
            </section>
          </div>
        </li>
        <li class="span3">
          <div class="thumbnail thumbnail-1">
            <h3 class="title-1 extra">Photography</h3>
            <img  src="img/blog-featured-04.jpg" alt="">
            <section>
              <a href="#"><h3>Similique sunt in culpa qui officia</h3></a>
              <div class="meta">
                  <time datetime="2012-11-09" class="date-1"><i class="icon-calendar"></i> 9.11.2012</time>
                  <div class="name-author"><i class="icon-user"></i> <a href="#">Admin</a></div>
                  <a href="#" class="comments"><i class="icon-comment"></i> 1 comment</a>
              </div> 
              <div class="clear"></div>   
              <p>Vestibulum volutpat urna sed sapien vehicula varius.</p>
              <a href="#" class="btn btn-1">Read More</a> 
            </section>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <article class="span6">
      <h3>About US</h3>
      <div class="wrapper" style="margin-bottom:40px;">
        <figure class="img-indent">
          <img class="img-responsive" src="img/sorabh-profile.jpg " alt="Sorabh" width="220" />
        </figure>
        <div class="inner-1 overflow extra">
          <h5><a href="http://sorabh86.github.com"><i class="fa fa-github"></i> sorabh86</a></h5>
<div class="txt-1">At your service, professional Software Engineers. We help our client to understand full System Development Life Cycle (SDLC), and they contribute and guide us on features.</div>
 Days of Building Simple Websites are gone, clients are demanding more, they are expecting better and best, Here our roles
starts, we create unforgettable brand experiences. Our passion is helping design and build solutions that strike to the perfect
balance between users, business, and technology..
        </div>
      </div>
    </article>
    <article class="span6">
      <h3>Expertise</h3>
      <div class="wrapper">
        <ul class="list list-pad">
          <li><strong>DESIGN</strong></li>
          <li><a href="#">Banner</a></li>
          <li><a href="#">LOGO</a></li>
          <li><a href="#">Mockup2PSD</a></li>
          <li><a href="#">PSD2HTML</a></li>
          <li><a href="#">HTML|CSS2JS</a></li>
          <li><a href="#">SVG</a></li>
          <li><a href="#">ICONS</a></li>
        </ul>
        <ul class="list list-pad">
          <li><strong>WEBSITES</strong></li>
          <li><a href="#">Static</a></li>
          <li><a href="#">Dynamic</a></li>
          <li><a href="#">CMS</a></li>
          <li><a href="#">Blog</a></li>
          <li><a href="#">portfolio</a></li>
          <li><a href="#">E commerce</a></li>
          <li><a href="#">Hospital</a></li>
          <li><a href="#">Real Estate</a></li>
        </ul>
        <ul class="list list-pad">
          <li><strong>LANGUAGES</strong></li>
          <li><a href="#">Core PHP</a></li>
          <li><a href="#">Wordpress</a></li>
          <li><a href="#">AngularJS</a></li>
          <li><a href="#">SQL</a></li>
          <li><a href="#">NodeJS</a></li>
          <li><a href="#">JAVA</a></li>
          <li><a href="#">JavaScript</a></li>
        </ul>
        <ul class="list">
          <li><strong>DATABASES</strong></li>
          <li><a href="#">MariaDB</a></li>
          <li><a href="#">MYSQL</a></li>
          <li><a href="#">SQLite</a></li>
          <li><a href="#">MSSQL</a></li>
          <li><a href="#">MongoDB</a></li>
          <li><a href="#">Oracle</a></li>
        </ul>
      </div>
    </article>
  </div>
</div>