<!-- <link href="assets/css/prettify.css" rel="stylesheet"> -->
<!-- <link href="assets/css/tm_docs.css" rel="stylesheet"> -->
<style>
.tm_constuction-main {
	padding: 40px 0;
}
	#tm_constuction-box {
		box-shadow: 0 0 15px rgba(0,0,0,.6);
	    border-radius: 15px;
	    width: 570px;
	    min-height: 390px;
	    position: relative;
	    margin: 0 auto;
	}
	#tm_constuction-box .tm_inside {
		border-radius: 20px;
		padding: 40px;
		background:#fff;
	}
	#tm_constuction-box h4 {
	    font-size: 18px;
    	line-height: 20px;
    	margin: 10px 0;
    	font-weight: 700;
	}
	#tm_constuction-box h1 {
		font-size: 36px;
    	line-height: 40px;
		padding-bottom: 10px;
    	font-weight: 400;
    	margin: 10px 0;
	}
	#tm_constuction-box .tm_counter_desc {
		position: relative;
	    overflow: hidden;
	    font-size: 16px;
	    font-weight: 700;
	    line-height: 1.2em;
	    padding: 5px 0 0 0;
	    margin-bottom: 40px;
	}
	.tm_counter_desc div:first-child {
	    margin-left: 0;
	}
	.tm_counter_desc .fleft {
	    float: left;
	}
	.tm_counter_desc div {
	    width: 104px;
	    margin-left: 18px;
	    text-align: center;
	}
	.tm_cntSeparator {
		font-size: 50px;
		margin: 24px 0;
		color: #000;
	}
	.tm_icons_social2 {
	    margin: 0;
	    list-style-type: none;
	}
	.tm_icons_social2 li.last {
	    width: 90px;
	}
	.tm_icons_social2 li {
	    width: 100px;
	    list-style-type: none;
	    padding: 0;
	    margin: 0;
	    float: left;
	    line-height: 20px;
	}
	
</style>

<div class="tm_constuction-main">
	<div id="tm_constuction-box">
		<div class="tm_inside">
			<div class="tm_inner">
				<hgroup>
					<h4>Our Website is</h4>
					<h1>Under Construction</h1>
					<h5>We'll be here soon with a new website.</h5>
				</hgroup>
				<div id="tm_counter"></div>
				<div class="tm_counter_desc">
					<div class="fleft">Days</div>
					<div class="fleft">Hours</div>
					<div class="fleft">Minutes</div>
					<div class="fleft">Seconds</div>
				</div>
				<div class="tm_constr_social_buttons">
					<ul class="tm_icons_social2">
						<li class="last">
							<div class="g-plusone" data-size="medium"></div>
							<script>!function(){var e=document.createElement("script");e.type="text/javascript",e.async=!0,e.src="https://apis.google.com/js/plusone.js";var t=document.getElementsByTagName("script")[0];t.parentNode.insertBefore(e,t)}()</script>
						</li>
						<li>
						``	<a href="https://twitter.com/share" class="twitter-share-button">Tweet</a>
						</li>
						<li class="fb-li">
							<iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.facebook.com%2Fpages%2FTemplate-Monster-Web-Design-Templates%2F19675425295&amp;send=false&amp;layout=button_count&amp;width=100&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font&amp;height=21&amp;appId=377251495662825" scrolling="no" frameborder="0" style="border:none;overflow:hidden;width:100px;height:21px" allowtransparency="true"></iframe>
						</li>
					</ul>
					<div style="clear:both"></div>
				</div>
			</div>
		</div>
	</div>
</div>

<script src="assets/js/jquery.countdown.min.js"></script>