/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');  */
/* @import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap'); */

/* @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;600;700&display=swap');*/

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;600;700&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600;700&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;600;700&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;600;700&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap'); */


@import "tailwindcss";

@theme {
  /* --font-sans: 'Roboto', 'Open San', sans-serif; */
  --font-sans: 'Comfortaa', 'Comic Sans MS', cursive, sans-serif;
  
  --color-so-gray-light: #CCCCCC;
  --color-so-gray: #4D5154;
  --color-so-gray-dark: #212529;
  --color-so-blue: #2B46CA;
  --color-so-orange: #FF6600;
  --color-so-red: #D40000;

  --color-so-black-8: rgba(0,0,0,0.8);
}

@layer utilities {

    .btn-blue {
        @apply cursor-pointer bg-so-blue px-6 py-4 text-white rounded-full transition-all ease-in-out hover:bg-blue-950 duration-500;
    }
    .btn-orange {
        @apply cursor-pointer bg-so-orange px-6 py-4 text-white rounded-full transition-all ease-in-out hover:bg-white duration-500 hover:text-so-gray-dark;
    }
    .btn-border {
        @apply cursor-pointer border-2 border-so-gray px-6 py-4 text-so-gray-light rounded-full transition-all ease-in-out hover:bg-white duration-500 hover:text-so-gray-dark;
    }
    .btn-link {
        @apply cursor-pointer px-6 py-3 text-so-gray-light transition-all ease-in-out hover:bg-so-orange duration-500 hover:text-white;
    }
    .btn-nav {
        @apply cursor-pointer text-center sm:text-center px-6 py-4 md:py-8 text-so-gray-light transition-all ease-in-out hover:bg-so-orange duration-500 hover:text-white;
    }
    .btn {
        @apply cursor-pointer;
    }

    .btn-so-link {
        @apply underline text-orange-500 hover:text-white transition-colors duration-500 flex items-center gap-2
    }


    /* Default text shadow */
    .text-shadow {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }
    .text-shadow-white {
    text-shadow: -1px -1px 1px rgba(255, 255, 255, 0.5);
    }

    /* Red text shadow */
    .text-shadow-red {
    text-shadow: 2px 2px 4px rgba(255, 0, 0, 0.5);
    }

    /* Blue text shadow */
    .text-shadow-blue {
    text-shadow: 2px 2px 4px rgba(0, 0, 255, 0.5);
    }

    /* Green text shadow */
    .text-shadow-green {
    text-shadow: 2px 2px 4px rgba(0, 255, 0, 0.5);
    }

    /* Purple text shadow */
    .text-shadow-purple {
    /* text-shadow: 1px 1px 1px rgba(128, 0, 128, 0.5); */
    filter: contrast(#fff);
    }

    /* Yellow text shadow */
    .text-shadow-yellow {
    text-shadow: 2px 2px 4px rgba(255, 255, 0, 0.5);
    }

    /* No text shadow */
    .text-shadow-none {
    text-shadow: none;
    }
}

html,
body {
  @apply bg-white w-full h-full dark:bg-so-gray-dark leading-tight ;

  overflow: auto;
  height: 100%;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

#root {
    min-height: 100vh;
}

#root .page {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* @charset "utf-8"; */

.flex-container a,
.flex-container a:active,
.flex-container a:focus,
.flexslider a,
.flexslider a:active,
.flexslider a:focus {
    outline: 0
}

.flex-control-nav,
.flex-direction-nav,
.slides {
    margin: 0;
    padding: 0;
    list-style: none
}

.flex-direction-nav {
    z-index: 8;
    position: relative
}

.flexslider .slides img {
    max-width: 100%;
    display: block
}

.flex-pauseplay span {
    text-transform: capitalize
}

.slides:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0
}

html[xmlns] .slides {
    display: block
}

* html .slides {
    height: 1%
}

.no-js .slides>li:first-child {
    display: block
}

.slides:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0
}

html[xmlns] .slides {
    display: block
}

* html .slides {
    height: 1%
}

.no-js .slides>li:first-child {
    display: block
}

.flex-container,
.flexslider {
    position: relative
}

.flexslider {
    overflow: hidden;
    zoom: 1;
    padding: 56px 0;
    background: #212529;
    margin: 0;
}

.flexslider .slides {
    zoom: 1
}

.flexslider .slides>li {
    position: relative
}

.flex-container {
    zoom: 1;
    position: relative
}

.flexslider .slides>li {
    width: 20%;
    overflow: hidden;
    /* position: relative; */
    transition: 500ms all;
    width:20%
}

.flexslider .slides>li .flex-caption {
    font-family: Dorsa, sans-serif;
    color: #fff;
    font-size: 100px;
    line-height: 104px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -50px 0 0 -10px;
    opacity: 1;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease
}

.flexslider .slides {
    display: flex;
    margin: 0;
    list-style: none outside none;
    width: 100%!important;
}

.flexslider .slides>li {
    opacity: .6
}

.flexslider .slides>li.active {
    opacity: 1;
    overflow: visible;
    transform: scale(1.2);
    /* box-shadow: 0 0 20px white; */
    width: calc(100% - 122px);
    max-width: fit-content;
    z-index: 1;
}
.flexslider .slides>li.active:first-child {
    transform-origin: 0;
}
.flexslider .slides>li.active:last-child {
    transform-origin: 100%;
}

.flexslider .slides img {
    display: block;
    max-width: 770px
}

.flexslider .hover-img {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0
}

#responsiveFlag {
    display: block
}
.flex-control-nav {
    display: none
}
.slogan {
    color: #ccc;
}
.slogan-head {
    display: flex;
    justify-content: center;
    align-items: center;
}
.slogan .slogan-heading {
    font-size: 3em;
    /* padding: 60px; */
    text-shadow: -1px -1px 1px #000, 1px 1px 1px #888;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}

.slogan-text {
    /* width: 70%; */
    text-align: left;
}
.slogan a.btn {
    padding: 10px 30px;
    border-radius: 50px;
    transition: 500ms all;
}
.slogan a.btn:hover {
    filter: invert(1);
}

@media only screen and (min-width:1300px) {
    .flexslider .slides>li {
        display: block
    }
    #responsiveFlag {
        display: block
    }
}

@media only screen and (max-width:1299px) {
    .flexslider {
        margin: 0;
    }
    .slogan .slogan-head {
        width: 100%;
        padding: 10px !important;
    }
    .slogan .slogan-text {
        width: 100%;
    }
    
    .flexslider .slides>li {
        width: 100%;
        opacity: 1;
        display: none;
        backface-visibility: hidden
    }
    .flexslider .slides>li:first-child {
        display: block;
        backface-visibility: visible
    }

    .flexslider .slides img {
        max-width: 100%;
        width: 100%
    }

    .flex-control-nav {
        display: flex
    }

    .flex-direction-nav {
        position: absolute;
        left: 0;
        top: 50%;
        width: 100%;
        overflow: hidden;
        margin: -27px 0 0 0;
        list-style: none outside none
    }

    .flex-direction-nav li {
        float: left;
        width: 50%;
        height: 100%;
        text-align: right;
        font-size: 0;
        line-height: 0;
        overflow: hidden
    }

    .flex-direction-nav li:first-child {
        text-align: left
    }

    .flex-direction-nav a {
        display: inline-flex;
        justify-content: center;
        color: #ccc;
        text-decoration: none;
        align-items: center;
        font-size: 2rem;
        width: 55px;
        height: 55px;
    }

    .flex-direction-nav a:hover {
        text-decoration: none
    }

    .flex-direction-nav a.flex-next, 
    .flex-direction-nav a.flex-prev {
        border-radius: 10px;
        background: rgba(100,100,100,.8)
    }

    .flex-direction-nav a:hover {
        background-color: #e85356
    }

    #responsiveFlag {
        font-size: 0;
        line-height: 0;
        display: inline
    }
    .slogan {
        flex-direction: column;
        align-items: center;
    }
    .slogan-text {
        text-align: center;
    }
}
@media only screen and (max-width:777px) {
    .sos-flexslider.bg-dark {
        padding: 0!important;
    }
    .sos-flexslider .flex-container {
        margin: 0!important;
    }
    .sos-flexslider .flexslider {
        width:100%;
    }
    .sos-flexslider .slogan {
        text-align: center;
    }
    .sos-flexslider .slogan-heading{
        white-space: nowrap;
    }
    .slogan .slogan-heading {
        padding-top: 0px!important;
    }
    .slogan .slogan-text {
        padding-bottom: 40px!important;
    }
}

@media only screen and (max-width:500px) {
    .flex-direction-nav {
        margin-top: -20px
    }

    .flex-direction-nav a {
        width: 40px;
        height: 40px
    }
    .slogan .slogan-heading {
        white-space: normal!important;
    }
}

@media (max-width:320px) {
    .flex-direction-nav {
        margin-top: -15px
    }

    .flex-direction-nav a {
        width: 30px;
        height: 30px
    }
}

.our-service {
    @apply container m-auto pb-12;
}
.our-service .title {
    @apply  text-so-blue text-center font-bold text-3xl pb-4;
}

.solution-cards {
    @apply  text-so-blue grid xl:grid-cols-4 md:grid-cols-3 sm:grid-cols-2 gap-6 py-4;
}
.solution-cards .card {
    @apply bg-white cursor-pointer p-4 flex flex-col gap-2 text-center rounded-t-full rounded-b-xl shadow-sm shadow-amber-300 hover:bg-amber-200 transition-all duration-500;
}
.solution-cards .card .card-icon {
    @apply text-4xl rounded-full self-center p-6 relative top-[-20px] transition-all duration-500;
}
.solution-cards .card .card-title {
    @apply  text-[1.2em] font-bold mb-4;
}

.fullstack .stages {
    @apply grid md:grid-cols-2 sm:grid-cols-1 flex-col gap-4 ;
}
.fullstack .stages-item {
    @apply flex md:flex-row items-start sm:flex-col gap-4 border-1 border-so-gray rounded-2xl p-2;
}
.fullstack .stages-item h4.text-blue {
    @apply py-3;
}